body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
    background-image: url('bg.png'); /* Add your background image here */
    background-size: cover;
    background-position: center;
}

body.dark-mode {
    background-color: #333;
}

.container {
    text-align: center;
}

.island {
    position: relative;
    width: 300px;
    padding: 20px;
    background-color: transparent; /* Remove island background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: color 0.3s;
}

body.dark-mode .island {
    color: #fff;
}

.island-image {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #6c757d; /* A neutral color for the toggle button */
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dark-mode-toggle:hover {
    background-color: #5a6268;
}

.social-media-buttons {
    margin-top: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.social-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.social-button.main {
    width: 100%;
    background-color: #1da1f2; /* Twitter Blue */
    color: #fff;
    font-size: 16px;
}

.social-button.main:hover {
    background-color: #0d95e8;
}

.social-button.small {
    width: 48%;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
}

.social-button.small:hover {
    background-color: #0056b3;
}
