/* Base Styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
}

body.dark-mode {
    background-color: #333;
}

.container {
    text-align: center;
}

/* Island Styles */
.island {
    position: relative;
    width: 300px;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: color 0.3s;
}

body.dark-mode .island {
    color: #fff;
}

/* Image Styles */
.island-image {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    object-fit: cover;
}

/* Button Styles */
.social-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.social-button.main {
    width: 100%;
    background-color: #1da1f2;
    color: #fff;
    font-size: 16px;
}

.social-button.main:hover {
    background-color: #0d95e8;
}

.social-button.small {
    width: 48%;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
}

.social-button.small:hover {
    background-color: #0056b3;
}

/* Dark Mode Toggle */
.dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #6c757d;
    color: #fff;
    transition: background-color 0.3s;
}

.dark-mode-toggle:hover {
    background-color: #5a6268;
}

/* Social Media Buttons Layout */
.social-media-buttons {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

/* Link Styles */
.social-link {
    text-decoration: none;
}
